<h4>Предложить группу</h4>
{if="isset($ok)"}
	<div class="alert alert-success">Предложение отправлено.</div>
{else}
	<div class="alert alert-warning">Запросы обрабатываются не быстро, их уже более сотни. Простите, тяжело все и сразу.</div>
{/if}
<form method="post">
    <div class="form-group">
      <label class="control-label" for="email">Ссылка:</label>
      <div class="controls">
        <input type="text" name="link" value="" placeholder="Лучше пишите сразу ID группы, если не трудно. Это очень поможет." class="input-xlarge form-control">
      </div>
    </div>
    <button class="btn btn-info">Предложить</button>
</form>
<hr>
<h2>Очередь на модерацию:</h2>
{loop="$list"}
<div class='list-group-item'>{$value}</div>
{/loop}
