{if="isset($error)"}
<div class="alert alert-warning">{$error}</div>
{else}
{$code}
{/if}
<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$list}&fields=photo_100',  
  	dataType: "jsonp",  
	success:function(e){ 
		for(i in e.response){
			u=e.response[i];
			uid=u.uid;
			console.log(uid);
			$("#user-"+uid).html("<img src='"+u.photo_100+"'><br /><h4>"+u.first_name+" "+u.last_name+"</h4>");
		}
	}  
}); 
</script>