<h1>Пропарсеные группы</h1>
<table class="table">
<thead>
<th>Ссылка</th>
<th>Количество фоток</th>
</thead>
{$code}
</table>
<h4>Всего фоток: {$summ}</h4>
<script>

$.ajax({  
  	url: 'http://api.vk.com/method/groups.getById?group_ids={$list}',  
  	dataType: "jsonp",  
	success:function(e){ 
		console.log(e);
		for(i in e.response){
			u=e.response[i];
			uid=u.gid;
			$("#gr"+i).html(""+u.name+"");
		}
	}  
}); 
</script>